@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

:root{
    --primaryFont: "Inter", sans-serif;
    --secondaryFont: 'Miama', sans-serif;
    --bgPrimary: rgb(0, 0, 0);
    --textPrimary: rgb(255, 255, 255);
    --textSecondary: rgba(255, 255, 255, 0.5);
    --textBrand: rgb(230, 83, 60);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared styles */

body{
    background-color: var(--bgPrimary);
    color: var(--textPrimary);
    font-family: var(--primaryFont);
    font-weight: 400;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.main section {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.display-flex{
    display: flex;
}

img{
    max-width: 100%;
    height: auto;
}

.section-info{
    max-width: 42rem;
    margin: 0 auto;
    padding: 2rem;
}

.section-title{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 900;
}

.section-description{
    color: var(--textSecondary);
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.8rem 0;
}

.btn-primary{
    background-color: var(--textBrand);
    color: var(--textPrimary);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem 2.8rem;
    border-radius: 2.8rem;
    margin-right: 2rem; 
    border: none;
}

.btn-special{
    border: 1px solid var(--textPrimary);
    background: transparent;
}


/* Header section */

.header{
    /* background: linear-gradient(180deg, rgb(17, 17, 17) 0%, rgba(119, 119, 119, 0) 100%); */
    background: linear-gradient(-180deg, rgb(17, 17, 17) 100%, rgba(119, 119, 119, 0) 0%);
}

.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
.navbar .brand{
    color: var(--textBrand);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.navbar .nav-links{
    gap: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: .5rem;
    border-radius: 2.8rem;
    margin: 0 1rem;
}

.navbar .nav-item{
    list-style-type: none;
}

.navbar .nav-link{
    text-decoration: none;
    color: var(--textPrimary);
    font-size: 1.125rem;
}

.active{
    background-color: var(--textBrand);
    font-size: 1.125rem;
    font-weight: 600;
    padding: .5rem 1.25rem;
    border-radius: 2.8rem;
}

#hamburgerMenu{
    font-size: 2rem;
    display: none;
}

/* banner section */

.banner{
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.banner .banner-content,
.banner .banner-img{
    width: 50%;
} 

.banner-title{
    font-size: 4rem;
    font-weight: 900;
}

.banner-title .cursiveText{
    font-family: var(--secondaryFont);
    font-weight: 400;
    font-size: 6rem;
}

.banner-img{
    position: relative;
}

.banner-img img{
    height: 80vh;
}

.banner-img .workout, 
.banner .tutorial{
    width: 12rem;
    height: 6rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: .8rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    backdrop-filter: blur(1rem);
    position: absolute;
}

.banner-img .workout{
    top: 12rem;
    right: 3rem;
}

.banner-img .tutorial{
    bottom: 6rem;
    left: -5rem;
    gap: 1rem;
    align-items: center;
}

.banner-img .workout h3,
.banner .tutorial h3{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3rem;
}

.banner-img .workout p,
.banner .tutorial p{
    font-size: .8rem;
    font-weight: 400;
    line-height: 1rem;
    color: var(--textSecondary);
}

.banner-img .fa-circle-play{
    font-size: 2.5rem;
    color: var(--textBrand);
}


/* Main section */

/* habits section */

.habits .section-info{
    text-align: center;
}

.card-group{
    margin-top: 5rem;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}

.card-group .card{
    padding: 0 1.5rem;
    text-align: center;
}

.card img{
    border-radius: 50%;
    margin-bottom: 1rem;
}

.card .img-title{
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.card .img-description{
    font-size: .8rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--textSecondary);
}

/* Extra Mile section */

.extraMile{
    align-items: center;
    gap: 6rem;
    padding: 3rem;
    border-radius: 1.5rem;
    background-color: #222222;
}

.extraMile .section-info,
.extraMile .extraMile-img{
    width: calc(50% - 3rem);
}

.extraMile-img > img{
    border-radius: 1.5rem;
}

/* BMI section */

.bmiCalc .section-info{
    margin-bottom: 2rem;
}

.bmiCalc-content{
    background: #222222;
    color: var(--textSecondary);
}

.bmiCalc-content .container{
    gap: 6rem;
}

.bmiCalc-content .chart{
    width: 40%;
    padding: 3rem 0;
}

.bmiCalc-content .bmi-form{
    width: 60%;
    padding: 3rem 0;
}

.chart .chart-title,
.bmi-form .bmi-form-title{
    font-size: 1.8rem;
    color: var(--textPrimary);
}

.chart .chart-table{
    margin-top: 2rem;
}

.chart-table thead{
    color: var(--textPrimary);
}

.chart .chart-table,
.chart-table th,
.chart-table td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    font-size: .8rem;
    padding: 1rem 1.5rem;
} 

.bmi-form .calculate-bmi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.calculate-bmi input,
.calculate-bmi select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border: none;
    color: var(--textSecondary);
    font-size: 1rem;
}

.calculate-bmi option{
    background-color: #222222;
    color: var(--textPrimary);
}

.calculate-bmi #activity-factor{
    grid-column: span 2;
}

.bmi-form .btn-primary{
    margin-top: 1rem;
}

/* Team section */

.team .section-info{
    text-align: center;
}

.team-gallery{
    background-color: #222222;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1.5fr);
    gap: 1rem;  
    border-radius: 1.5rem;
}

.team-gallery .team-gallery-item{
    width: 22rem;
    height: 20rem;
    position: relative;
}

.team-gallery-item img{
    width: 100%;
    height: 100%;
    border-radius: 1.125rem;
    filter: drop-shadow(0 0 .5rem var(--textSecondary)); 
    opacity: .85;   
}

.team-gallery-item .item-info{
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}

.gallery-item-title{
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--textPrimary);
}


/* Footer section */

.footer{
    background: #222222;
}

.footer-content{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
}

.footer-info .section-title{
    font-size: 3.5rem;
    font-style: 600;
    line-height: 4rem;
    color: var(--textBrand);
    font-style: italic;
}

.footer-info .section-description{
    line-height: 1.5rem;
}

.footer-getStarted .section-title{
    font-size: 2rem;
    line-height: 1.125rem;
    font-weight: bold;
    margin-bottom: 2rem;
}


.footer-getStarted .link-item{
    list-style: none;
    margin: 1rem 0;
}

.footer-getStarted .nav-link{
    font-size: 1.25rem;
    line-height: 1.125rem;
    color: var(--textSecondary);
    text-decoration: none;
}

.footer hr{
    border: 1px solid var(--textSecondary);
}

.footer-bottom{
    color: var(--textSecondary);
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}



/* Responsive for mobile */

@media screen and (max-width: 576px) {

    .navbar{
        margin: 1rem 2rem;
    }
    .navbar .nav-links{
        display: none;
    }
    #hamburgerMenu{
        display: block;
    }

    .banner{
        flex-direction: column;
        height: auto;
        margin-top: 4rem;
    }

    .banner .banner-content{
        width: 90%;
    }

    .banner .btn-primary{
        margin-right: 1rem;
    }

    .banner-img img{
        height: auto;
    }

    .banner-img .workout{
        top: 5rem;
        right: -5rem;
    }
    
    .banner-img .tutorial{
        bottom: 3rem;
        left: -5rem;
    }

    .habits .card-group,
    .extraMile,
    .bmiCalc-content .container{
        flex-direction: column;
    }
    .extraMile{
        margin: 0 2rem;
        padding: 1rem;
    }

    .extraMile .section-info,
    .extraMile .extraMile-img{
    width: calc(100% - 2rem);
    }

    .bmiCalc-content .container{
        gap: 1rem;
    }

    .bmiCalc-content .chart,
    .bmiCalc-content .bmi-form,
    .footer-info,
    .footer-getStarted{
        width: calc(100% - 4rem);
        padding: 2rem;
    }

    .bmiCalc-content .chart{
        align-self: center; 
    }


    .team-gallery,
    .footer-content{
        grid-template-columns: 1fr;
    }

    .team-gallery{
        justify-items: center;
        gap: 2rem;
    }



}